body{
    margin: 0;
    padding: 0;
    background: #fff;
}
h1{
    margin: 0;
    padding: 0;
    color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3em;
    font-family: 'Cantarell', sans-serif;
}
h1 span{
    color: red;
    margin: 0;
    padding: 0;
}

#bg
{
    position: relative;
    background: linear-gradient(120deg, #fdfdfd, #e6fafd, #c3f4fa, #70d4e6, #03a8c5a9);
    height: 100vh;
}
.chat-box
{
    top: 50px;
    right: 0px;
    bottom: 50px;
    left: 200px;
    position: absolute;
    width: 75%;
    height: 85vh;
    max-height: 800px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 10px 50px #00000033;
    background: #faf9f9a9;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.chat-title
{
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: #023e8bb7;
    color: #ffffff;
    text-align: left;
    padding: 10px 10px 10px 50px;
}
.chat-title h1, .chat-title h2
{
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
  }
  .chat-title h1
  {
    color: #ffffff;
      text-shadow: 1px 2px 5px #075594;
  }
  .chat-title h2 
  {
    color: #ecf0f3b6;
    font-size: 20px;
    text-shadow: 1px 1px 2px #053863b7;
    margin-left: 50px;
  }
  .chat-title .robot
  {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 20px;
      border-radius: 30px;
      font-size: 50px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      color: #e0dedec2;
      border: 2px solid #f0eaf5a9;
  }
  .messages
  {
      flex: 1 1 auto;
      color: #030303c0;
      background: #fdfdfdb0;
      overflow: hidden;
      position: relative;
      width: 100%;
  }
  .messages .messages-content
  {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  .messages .message
  {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: #e2e1e1d8;
    margin: 8px 0;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px #030303c0;
  }
  .messages .message .timestamp
  {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    color: #ffffff4d;
  }
  .messages .message::before
  {
    content: '';
    position: absolute;
    bottom: -6px;
    border-top: 6px solid #e2e1e1d8;
    left: 0;
    border-right: 7px solid transparent;
  }
  .messages .message .robot
  {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -40px;
    width: 32px;
    height: 34px;
    border-radius: 30px;
    font-size: 24px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #2d7de2;
    border: 2px solid #146aeb80;
  }
  .messages .message.message-personal
  {
    float: right;
    color: #ffffff;
    text-align: right;
    background: #2d7de2;
    border-radius: 10px 10px 0 10px;
  }
  .messages .message.message-personal::before
  {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #2d7de2;
    bottom: -4px;
  }
  .messages .message:last-child
  {
    margin-bottom: 30px;
  }
  .messages .message.new
  {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
            animation: bounce 500ms linear both;
  }
  .messages .message.loading::before
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .messages .message.loading span
  {
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
  }
  .messages .message.loading span::before
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: -7px;
  }
  .messages .message.loading span::after
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: 7px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }

  .message-box
  {
    flex: 0 1 40px;
    width: 100%;
    background: #0f64d3b2;
    padding: 10px;
    position: relative;
  }
  .message-box .message-input
  {
    border: none;
    resize: none;
    color: #0e0d0dd0;
    font-size: 22px;
    height: 50px;
    border-radius: 20px;
    margin: 0;
    padding: 5px 20px 5px 10px;
    width: 85%;
  }
  ::placeholder
  {
    color: #063f6dd7;
    opacity: 50%;
  }
  .message-box textarea:focus:-webkit-placeholder
  {
    color: transparent;
  }
  .message-box .message-submit
  {
    position: absolute;
    z-index: 1;
    right: 20px;
    width: 10%;
    color: #ffffff;
    text-align: center;
    background: #0000a0;
    background-size: 400%;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    padding: 14px 18px 14px 18px;
    border-radius: 20px;
    border-color: #020299c4;
  }
  .message-box .message-submit:hover
  {
    animation: animate-robot 8s linear infinite;
  }
  @keyframes animate-robot
  {
      0%
      {
          background-position: 0%;
      }
      100%
      {
          background-position: 400%;
      }
  }
  .message-box .message-submit:before
  {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      cursor: pointer;
      background: linear-gradient(120deg,#05b605,#06e606,#14fa14,#40ff40);
      background-size: 400%;
      border-radius: 20px;
      opacity: 0;
      transition: 0.5s;
  }
  .message-box .message-submit:hover:before
  {
      filter: blur(20px);
      opacity: 1;
      animation: animate-robot 8s linear infinite;
  }

  .mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #062a5fb6 !important;
  }

  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @-webkit-keyframes ball {
    from {
      -webkit-transform: translateY(0) scaleY(0.8);
              transform: translateY(0) scaleY(0.8);
    }
    to {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes ball {
    from {
      -webkit-transform: translateY(0) scaleY(0.8);
              transform: translateY(0) scaleY(0.8);
    }
    to {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  .fa-microphone
  {
    cursor: pointer;
    font-size: 24px;
    color: #0000a0;
    margin: 2px 2px 2px 12px;
  }