body{
    margin: 0;
    padding: 0;
    background: #fff;
}
h1{
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3em;
    font-family: 'Cantarell', sans-serif;
}
h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation-delay: -10s infinite;
    animation: animate 6s linear infinite;
}
h1 span:nth-child(1)
{
    animation-delay: 0s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.25s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 0.75s;
}
h1 span:nth-child(5)
{
    animation-delay: 1s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.25s;
}
h1 span:nth-child(7)
{
    animation-delay: 1.5s;
}
h1 span:nth-child(8)
{
    animation-delay: 1.75s;
}
h1 span:nth-child(9)
{
    animation-delay: 2s;
}
h1 span:nth-child(10)
{
    animation-delay: 2.25s;
}
h1 span:nth-child(11)
{
    animation-delay: 2.50s;
}
h1 span:nth-child(12)
{
    animation-delay: 2.75s;
}
h1 span:nth-child(13)
{
    animation-delay: 3s;
}
h1 span:nth-child(14)
{
    animation-delay: 3.25s;
}
h1 span:nth-child(15)
{
    animation-delay: 3.50s;
}
h1 span:nth-child(16)
{
    animation-delay: 3.75s;
}
h1 span:nth-child(17)
{
    animation-delay: 4s;
}
h1 span:nth-child(18)
{
    animation-delay: 4.25s;
}
h1 span:nth-child(19)
{
    animation-delay: 4.50s;
}
h1 span:nth-child(20)
{
    animation-delay: 4.75s;
}
h1 span:nth-child(21)
{
    animation-delay: 5s;
}
h1 span:nth-child(22)
{
    animation-delay: 5.25s;
}
h1 span:nth-child(23)
{
    animation-delay: 5.50s;
}
h1 span:nth-child(24)
{
    animation-delay: 5.75s;
}
h1 span:nth-child(25)
{
    animation-delay: 6s;
}
@keyframes animate
{
    0%,100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
    }
    5%,95%
    {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}
#bg
{
    position: relative;
    background: linear-gradient(120deg, #fdfdfd, #e6fafd, #c3f4fa, #70d4e6, #03a8c5a9);
    height: 100vh;
}
.chat-box
{
    top: 50px;
    right: 0px;
    bottom: 50px;
    left: 600px;
    position: absolute;
    width: 40%;
    height: 85vh;
    max-height: 800px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 10px 50px #00000033;
    background: #faf9f9a9;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.chat-title
{
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: #0de06548;
    color: #ffffff;
    text-align: left;
    padding: 10px 10px 10px 50px;
}
.chat-title h1, .chat-title h2
{
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
  }
  .chat-title h1
  {
      text-shadow: 1px 2px 5px #3d93da;
  }
  .chat-title h2 
  {
    color: #3d93dab6;
    font-size: 16px;
    text-shadow: 1px 1px 2px #053863b7;
    margin-left: 30px;
  }
  .chat-title .robot
  {
      position: absolute;
      z-index: 1;
      top: 16px;
      left: 16px;
      border-radius: 30px;
      font-size: 40px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: pink;
	    background: -webkit-linear-gradient(120deg, #515ECF 4%, #9B36B7 30%, #D92E7F 62%);
	    background: linear-gradient(120deg, #ff3be7 14%, #ff3be7 36%, #b803ffa9 64%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
      border: 2px solid #9514eb80;
  }
  .messages
  {
      flex: 1 1 auto;
      color: #ffffffce;
      overflow: hidden;
      position: relative;
      width: 100%;
  }
  .messages .messages-content
  {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  .messages .message
  {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: linear-gradient(120deg, #6a23a5be, #1385d1a6);
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px #00000033;
  }
  .messages .message .timestamp
  {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    color: #ffffff4d;
  }
  .messages .message::before
  {
    content: '';
    position: absolute;
    bottom: -6px;
    border-top: 6px solid #6a23a5be;
    left: 0;
    border-right: 7px solid transparent;
  }
  .messages .message .robot
  {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -40px;
    width: 32px;
    height: 34px;
    border-radius: 30px;
    font-size: 24px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: pink;
	  background: -webkit-linear-gradient(120deg, #515ECF 4%, #9B36B7 30%, #D92E7F 62%);
	  background: linear-gradient(120deg, #ff3be7 14%, #ff3be7 36%, #b803ffa9 64%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
    border: 2px solid #9514eb80;
  }
  .messages .message.message-personal
  {
    float: right;
    color: #ffffff;
    text-align: right;
    background: linear-gradient(120deg, #248A52, #257287);
    border-radius: 10px 10px 0 10px;
  }
  .messages .message.message-personal::before
  {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
  }
  .messages .message:last-child
  {
    margin-bottom: 30px;
  }
  .messages .message.new
  {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
            animation: bounce 500ms linear both;
  }
  .messages .message.loading::before
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .messages .message.loading span
  {
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
  }
  .messages .message.loading span::before
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: -7px;
  }
  .messages .message.loading span::after
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff80;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: 7px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }

  .message-box
  {
    flex: 0 1 40px;
    width: 100%;
    background: linear-gradient(120deg, #0f64d3b2, #8b0fd3d7, #f00cb7b9);
    padding: 10px;
    position: relative;
  }
  .message-box .message-input
  {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: #ffffff;
    font-size: 24px;
    height: 50px;
    border-radius: 20px;
    margin: 0;
    padding: 5px 20px 5px 10px;
    width: 67%;
  }
  ::placeholder
  {
    color: #ffffff;
    opacity: 50%;
  }
  .message-box textarea:focus:-webkit-placeholder
  {
    color: transparent;
  }
  .message-box .message-submit
  {
    position: absolute;
    z-index: 1;
    right: 40px;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    padding: 14px 18px 14px 18px;
    border-radius: 20px;
  }
  .message-box .message-submit:hover
  {
    animation: animate-robot 8s linear infinite;
  }
  @keyframes animate-robot
  {
      0%
      {
          background-position: 0%;
      }
      100%
      {
          background-position: 400%;
      }
  }
  .message-box .message-submit:before
  {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      cursor: pointer;
      background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
      background-size: 400%;
      border-radius: 20px;
      opacity: 0;
      transition: 0.5s;
  }
  .message-box .message-submit:hover:before
  {
      filter: blur(20px);
      opacity: 1;
      animation: animate-robot 8s linear infinite;
  }

  .mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #06295fa1 !important;
  }

  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @-webkit-keyframes ball {
    from {
      -webkit-transform: translateY(0) scaleY(0.8);
              transform: translateY(0) scaleY(0.8);
    }
    to {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes ball {
    from {
      -webkit-transform: translateY(0) scaleY(0.8);
              transform: translateY(0) scaleY(0.8);
    }
    to {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  .fa-microphone
  {
    cursor: pointer;
    font-size: 24px;
    color: #00f8cfd7;
    margin: 2px;
  }